body {
  background-image: linear-gradient(to top right, #24252a 33%, #000080);
  background-attachment: fixed;
}

.titulo1, .titulo2, span{
  color: white;
  font-style: italic;
}

header{
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 0 0 30px;
  border-radius: 5px;
}

main{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 50px;
}

.grid, .grid2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  position: relative;
  transition: transform 480ms ease;
  transform-style: preserve-3d; /* Mantém a estrutura 3D */
  border: 1.4px groove #464646;
  cursor: pointer; /* Indica que a carta é clicável */
  background-color: #ccc;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.front {
  background-color: #f3f3f3;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.back {
  background-image: url('../img/historia-300x300.jpg');
  backface-visibility: hidden;
}

.reveal-card{
    transform: rotateY(180deg);
}

.disabled-card{
  filter: saturate(0);
  opacity: 0.5;
}
